{% extends 'base/homepage.html' %}

{% block content %}
{% load static %}
       <header class="bg-dark py-5 red-color">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Авторизация</h1>
                <p class="lead fw-normal text-white-50 mb-0">Будь с нами ...</p>
            </div>
        </div>
    </header>
    <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong> {{ message }} </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-box">
                <form id="auth-form" class="form-horizontal">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </form>
                <button class="btn btn-round form-control">
                    <a href="{% url 'social:begin' 'github' %}?next=/">
                        <img src="{% static 'img/GitHub-Mark.png' %}" width="50px">
                    </a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                        <img src="{% static 'img/google.png' %}" width="40px">
                    </a>
                </button>
            </div>
        </div>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script type="text/javascript">
            var url_view = "{% url 'auth:valid_password'%}"
            var url_redirect = "{% url 'main:index' %}"
        </script>
        <script src="{% static 'js/auth_valid.js' %}" type="text/javascript"></script>
 {% endblock content %}