{% extends 'base/homepage.html' %}
{% load static%}
{% block title %} Заказ {% endblock %}
{% block content %}
    <div class="container">
    <h1>Checkout</h1>
    <div class="order">
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>
    </div>
    <form action="{% url 'order:create' %}" method="POST" class="order-form">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input class="main_anchor" type="submit" value="Оплатить"></p>
    </form>
    </div>
</div>
{% endblock %}