.container {
    margin: 0 auto;
    max-width: 1390px;
}

.footer_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.call {
    align-self: center;
}

.content-flex {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid cornflowerblue;
}
.right {
    float: right;
}

.card-img-top {
    width: 400px;
}