.container {
    margin: 0 auto;
    max-width: 1390px;
}

.footer_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.call {
    align-self: center;
}

.content-flex {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid cornflowerblue;
}
.carousel-inner, .describe {
    margin: 0 auto;
    width: 80%;
}
.right {
    float: right;
}

.card {
    width: 60%;
    margin: 0 auto;
}
.card-game {
    width: 100%;
}
.card-img-top {
    width: 100%;
}
.product {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.basket_qty {
    padding: 1px 3px;
    background-color: red;
    border-radius: 50%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
/* Для Firefox */
input[type=number]{
  -moz-appearance: textfield;
}