<footer>
    <div class="footer mt-4">
        <div class="container footer_box">
            <div class="footer_top">
                <div class="question">
                    <h3 class="question_sign"> Хотите кривой сайт? <br>Звоните! Пишите!</h3>
                    <ol class="bot_order">
                        <li class="data">
                            <a class='data' href="mailto:v.kolokolchikoff@yandex.ru">v.kolokolchikoff@yandex.ru</a>
                        </li>
                        <li class="data">
                            <a class='data' href="tel:+732462831232">+7(324)628-312-32</a>
                        </li>
                    </ol>
                </div>
                <div class="call">
                    <a class="btn btn-primary" href="{% url 'contacts:contact' %}" class="main_anchor">Let`s Talk</a>
                </div>
            </div>

            <div class="copy">
                <p>Все права защищены &copy;</p>
            </div>
        </div>
    </div>
</footer>