 <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container container-fluid">
        <a class="navbar-brand" href="#">ForGames</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Главнная</a>
            <a class="nav-link" href="{% url 'store:catalog' 'all' %}">Каталог</a>
            <a class="nav-link" href="{% url 'contacts:contact' %}"> Контакты </a>
              {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth:edit' %}">
                        Пользователь: {{ user.first_name }} | Баланс: {{ wallet }}
                        </a>
                    </li>
              {% endif %}
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart:cart_detail' %}"> Корзина
                          {% with total_items=cart|length %}
                              {% if cart|length > 0 %}
                                  <span class="basket_qty">
                                      {{ total_items }}
                                  </span>
                              {% endif %}
                          {% endwith %}
                      </a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth:logout' %}">Выйти</a>
                  </li>
              {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth:register' %}">Регистрация</a>
                    </li>
              {% endif %}
          </div>
        </div>
      </div>
 </nav>
